/* <link href="navbar.css" rel="stylesheet"> */


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    background-color: rgb(213, 196, 15);
}

.infobar {
    float: right;
    width: 60px;
    background-color: rgb(80, 86, 12);
}

.navbar a {
    float: left;
    display: inline;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    transition: all 0.3s ease;
    font-weight: bold;
    
}

.navbar a:hover:not(.active) {
    background-color: black;
}

.navbar a:hover {
    background-color: rgb(86, 80, 12);
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Arial;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
  }
